*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body{
  background: #E9E9E9;
}

header {
  background-color: #3485FF;
}

.title {
  font-size: 18px;
  text-align: center;
  line-height: 2;
  font-family: "Poppins";
  padding: 15px;
  color: #ffff;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  margin-top: 220px; 
  width: 100vw;
}

main .dropdown:nth-child(2),
main .dropdown:nth-child(3){
  margin-left: 30px;
}

.dropdown-content p{
  word-break: break-word;
}

span{
  display: inline-block;
  background-color:#3485FF;
  width: 100%;
  padding: 8px;
  border-radius: 8px 8px 0 0;
  color: #ffff;
  font-weight: 700;
}

main .dropdown{
  font-family: "Open sans";
  font-size: 20px;
  width: 300px;
  text-align: center;
}

.dp-menu ul{
  background-color: #3485FF;
  text-align: center;
}

.dp-menu ul li a:hover{
  background-color: #F18F01;
  transition: .2s;
}